.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* container */

.container {
  max-width: 1080px;
  margin: 0 auto;
  font-size: 22px;
}

/* lists */
ul {
  list-style: none;
}

/* links */
a{
  padding: 3px;
  border-radius: 3px;
}
a:link {
  text-decoration: none;
}

a:hover {
  background-color: #d9d9d9;
}