.user-info {
    max-width: 25%;
    float: left;
}

.user-skill-container {
    display: inline-block;
    padding: 20px;
    width: 50%;
}

.box-section {
    border-radius: 10px;
    padding: 20px;
    background-color: #add8e6;
}

.shadow-section {
    box-shadow: 10px 5px 3px;
}

.user-skill-item {
    margin: 16px 4px;
}

.vote-count-badge:hover {
    cursor: pointer;
}

.vote-count-badge {
    border-radius: 40px;
    border: 1px solid black;
    height: 28px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    float: left;
}

.vote-count-badge > span {
}

.yes-vote {
    background-color: #a9ffa9;
}

.no-vote {
    background-color: #e9e9e9;
}
