.user-info {
    background-color: #d9d9d9;
    box-shadow: 10px 5px 3px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 25%;
    float: left;
}

.user-skill-container {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
    text-align: center;
}

.user-skill-item {
    margin: 16px 4px;
}

.vote-count-badge {
    background-color: #c9c9ff;
    border-radius: 40px;
    border: 1px solid black;
    padding: 4px;
}
